*{
margin: 0;
padding: 0;
font-family: "Poppins", sans-serif;

}
body{
    background-color: blanchedalmond;
}
.nav-bar{
    text-align: left;
    height: 50px;
    background-color: black;
    color: white;
}
li{
    display: inline;
    font-size: 2rem;
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
    
}
li:hover{
    color: red;
    cursor: pointer;
}
